@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

a{
    text-decoration: none;
}
ul{
    margin: 0;
    padding:0;
}
li{
    list-style: none;
}

/* Reset-End */


.main{
    padding:10px;
    font-family: 'Roboto', sans-serif;
}


/* Headders */
.Logo{
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 7px;
}

.authenticate{
    text-align: left;
}
.authenticate a:hover{
    color: blue;
}

.user-name{
    color: black;
    margin:5px 0;
}
.name-display{
    padding:5px;
}
.logout-btn{
    font-size: 15px;
    font-weight: 500;
}

.head-session{
    direction: ltr;
}

/* Headders - End */


/* Navigation - Start */
.nav{
    display: flex;
}

.nav li{
    margin: 0 5px;
    border-radius: 5px;
    height: 40px;
    transition: 0.5s;
}
.nav li:hover{
    border-bottom: 2px solid blue;
}

.nav li a{
    color: black;
}


/* Login-form, register-form */ 
.login-form-col, .register-form-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* index page lists */

.activeLists{
    flex-direction: column;
}


/* comment form and description from create form */
#comment:focus , .desc-form:focus{
    outline: none;
    border: 1px solid blue;
}